.item{
    width: 750px;
}
.ion-padding{
    margin-top: 53px;
    margin-right: 70px;
}
.head{
    color: rgb(0, 98, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}