.head{
    color: rgb(0, 98, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.tete{
    color: rgb(0, 98, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
#message{
    color: green;
}